.bond-exchange {
  background: #D8E2F6 url("../assets/bg-bond.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;

}

.bond-exchange__content {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  max-width: 1200px;
  padding-top: 64px;
  margin: 0 auto 0 350px;

  @media (max-width: 1050px) {
    margin: 60px auto 0;
    width: fit-content;
  }
}

.bond-exchange__input-block {
  max-width: 447px;
  display: flex;
  flex-flow: column nowrap;
  background: #FFFFFF;
  box-shadow: 0 8px 32px rgba(105, 142, 226, 0.11);
  border-radius: 24px;
  padding: 26px 34px 32px;

  margin-bottom: 32px;

  @include devices(mobile) {
    margin-bottom: 37vw;
  }
}

.bond-exchange__beta-mark {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 16px;

  border: 2px solid rgba(255, 94, 13, 0.3);
  border-radius: 29px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #FF5E0D;
  margin-left: auto;
  margin-bottom: 23px;
}

.bond-exchange__heading {
  font-family: 'Mersad', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #3568DD;
  margin-bottom: 8px;
}

.bond-exchange__lead {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #1D1D1D;

  margin-bottom: 12px;
}

.bond-exchange__lead-link {
  color: #3568DD;
}

.bond-exchange__input-container {
  border: 2px solid #F7F9FF;
  border-radius: 16px;
  height: 86px;
  width: 100%;
}

.bond-exchange__blur {
  width: 100%;
  filter: blur(5px);
  user-select: none;
  pointer-events: none;
}

.bond-exchange__divider {
  border-bottom: 2px solid #F7F9FF;
  margin-bottom: 36px;
  padding-bottom: 36px;
  position: relative;
}

.bond-exchange__divider-button {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translate(-50%, 0);

  width: 66px;
  height: 36px;

  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(105, 142, 226, 0.23);
  border-radius: 16px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.bond-exchange__arrow {
  height: 24px;
  transform: rotate(90deg);
}

.bond-exchange__currency-input_last {
  margin-bottom: 12px;
}

.bond-exchange__price-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  padding: 0 16px;
}

.bond-exchange__price-name {
  color: #A2B2D8;
}

.bond-exchange__price-value {
  color: #1D1D1D;
}

.bond-exchange__swap-button {
  height: 48px;
}

.bond-exchange__button-loader div {
  background: #A2B2D8;
}

.exchange-control-panel .bond-exchange__content{
  margin: 0 auto 0 265px;
}

.exchange-control-panel .bond-exchange__content{
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.exchange-control-panel .bond-exchange__input-block {
  max-width: 380px;
  justify-content: space-between;
}

.bond-exchange__pool-info {
  display: flex;
  flex-flow: column nowrap;
  background: #FFFFFF;
  box-shadow: 0 8px 32px rgba(105, 142, 226, 0.11);
  border-radius: 24px;
  padding: 48px 34px 32px;
}

.auto-fix-liquidity {
  display: flex;
  flex-flow: column nowrap;
  background: #FFFFFF;
  box-shadow: 0 8px 32px rgba(105, 142, 226, 0.11);
  border-radius: 24px;
  padding: 48px 34px 32px;
}

.info-list {
  display: grid;
  grid-template-columns: 2fr 1fr;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  /* or 22px */
  color: #1D1D1D;
}

.info-list__key {
  font-weight: bold;
}
