.claim-page {
  background: linear-gradient(90deg, #C9D9FF 0%, #EDF3FF 100%);
  min-height: 100vh;
}

.claim-wrapper {
  max-width: 940px;

  @media only screen and (max-width: 1372px) and (min-width: 1051px)  {
    margin-left: 340px;
  }

  @include media(1050px) {
    justify-content: center;
    margin: 0 auto;
  }

  @include media(877px) {
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
  }
}

.claim-top-wrapper {
  display: flex;
  align-items: center;

  @include media(675px) {
    flex-direction: column;
  }

  @include media(430px) {
    align-items: flex-start;
  }
}

.claim-block {
  box-sizing: border-box;
  max-width: 420px;
  padding: 32px 24px;
  background: #FFFFFF;
  border-radius: 32px;
  margin-right: 42px;

  @include media(877px) {
    margin-right: 0;
  }

  @include media(481px) {
    margin-top: 115px;
  }

  @include media(430px) {
    margin-top: 0;
    padding-top: 80px;
    border-radius: 0 0 32px 32px;
    width: 100%;
    max-width: none;
  }
}

.claim-block__heading {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  font-size: 12px;
  height: 27px;
}

.claim-block__claimed-text {
  margin-left: auto;
  margin-right: 8px;
  font-weight: 400;
}

.claim-block__claimed {
  padding: 5px 12px;
  background: #159F80;
  border-radius: 16px;
  color: white;
  font-weight: 700;
}

.claim-block__day {
  padding: 0 12px;
  display: block;
  width: fit-content;
  background: #EDF3FF;
  border-radius: 16px;
  font-weight: 700;
  line-height: 24px;
}

.claim-block__title {
  font-family: Mersad, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #3568DD;
  padding-bottom: 8px;
}

.claim-block__link {
  margin-top: 60px;
  display: inline-block;
}

.claim-block__text {
  color: #1D1D1D;
  width: 85%;
  line-height: 28px;
  font-weight: 300;
  font-size: 20px;
}

.claim-block__subtitle {
  padding-top: 8px;
  font-weight: 400;
  color: #A2B2D8;
}

.claim-block__connect {
  background: rgba(69, 126, 255, 0.07);
  border: 1.5px solid #3568DD;
  border-radius: 24px;
  padding: 12px 26px;
  font-weight: 500;
  color: #457EFF;
  margin-top: 48px;
  font-size: 16px;

  @include media(430px) {
    width: 100%;
  }
}

.claim-steps {
  @include media(877px) {
    padding-left: 24px;
  }

  @include media(675px) {
    margin-top: 44px;
    padding-left: 0;
  }

  @include media(430px) {
    padding-left: 20px;
  }
}

.claim-steps__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-left: 10px;
  display: inline-block;
}

.claim-steps__item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;

  @media (max-width: 1200px) and (min-width: 1051px), (max-width: 840px) and (min-width: 675px), (max-width: 420px) {
    flex-direction: column;
    align-items: flex-start;

    .claim-steps__item-status {
      margin-bottom: 8px;
    }
  }

  &_disabled {
    color: #457EFF;

    .claim-steps__item-status {
      color: #457EFF;
      background: #EDF3FF;
    }
  }

  img {
    margin-right: 4px;
  }
}

.claim-block__btn {
  margin-top: 48px;
  margin-bottom: 0;

  &:not(&_marketplace) {
    padding: 12px 20px;
  }

  @include media(430px) {
    width: 100%;
  }
}

.claim-steps__item-status {
  width: 97px;
  height: 24px;
  padding-left: 12px;
  box-sizing: border-box;
  background: white;
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  color: #1D1D1D;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.claim-scroll {
  margin: 16px 165px;
  width: 97px;
  height: 60px;
  background: #EDF3FF;
  border-radius: 32px;
  transition: .2s ease;

  &:hover {
    opacity: 70%;
  }

  @include media(675px) {
    margin: 8px auto 24px;
    display: block;
  }
}

.giveaway {
  padding: 68px 24px 42px;
  border: 2px solid #A4BCF1;
  border-radius: 32px;
  margin-bottom: 61px;
}

.giveaway__title {
  font-family: Mersad, sans-serif;
  font-weight: 600;
  font-size: 88px;
  line-height: 98%;
  color: #7DA3F9;

  @include media(1150px) {
    font-size: 64px;
  }

  @include media(675px) {
    font-size: 40px;
  }
}

.giveaway__text {
  margin-top: 16px;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  max-width: 606px;
}

.giveaway__dates {
  display: flex;
  margin-top: 100px;

  @include media(1150px) {
    margin-top: 60px;
  }

  @include media(856px) {
    flex-direction: column;
  }
}

.giveaway__dates-item {
  display: flex;
  width: 50%;

  @include media(856px) {
    width: 100%;

    &:first-child {
      margin-bottom: 25px;
    }
  }
}

.giveaway__info {
  width: 90px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  background: #EDF3FF;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 36px;

  @include media(1150px) {
    font-size: 12px;
    width: 64px;
    height: 24px;
    margin-right: 25px;
  }
}

.giveaway__date {
  margin-top: 7px;

  @include media(1150px) {
    margin-top: 0;
  }
}

.giveaway__date-text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;

  @include media(1150px) {
    font-size: 16px;
    align-items: center;
    margin-bottom: 5px;
  }

  img {
    margin-right: 10px;
  }
}

.claim-block__warning {
  color: #A2B2D8;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 8px;

  img {
    margin-right: 8px;
  }
}

.claim-scroll__img-rotate {
  transform: rotate(180deg);
}

.claim-block__not-today {
  margin-top: 20px;
  display: block;
  width: fit-content;
}

.claim-block__socials {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.claim-block__socials-item {
  margin-right: 26px;
}