.content {
  padding-top: 34px;
  max-width: 792px;
  margin-left: auto;

  @include media(1140px) {
    max-width: 688px;
  }

  @include devices(mobile) {
    height: auto;
    padding-left: 0;

    & > section {
      &:not(.ambrosus, .binance-wrapper) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    h3 {
      font-size: 32px !important;
    }
  }

  a {
    font-weight: 500;
    white-space: nowrap;
  }
}

.content > section {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.about-us {
  max-width: 100%;
  border-radius: 24px;
  padding: 40px 24px;
  background: radial-gradient(
    68.95% 152.29% at 38% 22.68%,
    #ffffff 25.29%,
    rgba(255, 255, 255, 0.47) 78.49%,
    rgba(255, 255, 255, 0) 100%
  );

  @include media(1140px) {
    max-width: 407px;
  }

  @include devices(mobile) {
    max-width: none;
  }
}

.about-us__logo-symbol {
  margin-bottom: 45px;

  @include devices(mobile) {
    display: none;
  }
}

.about-us__title-br {
  @include devices(mobile) {
    display: none;
  }
}

.about-us__br {
  @include media(1140px) {
    display: none;
  }
}

.about-us__subtitle {
  font-family: Mersad, sans-serif;
  font-weight: 600;
  line-height: 140%;
  font-size: 48px;
  margin: 24px 0;
  white-space: break-spaces;

  @include devices(mobile) {
    font-size: 40px;
    margin-top: 110px;
  }
}

.about-us__text {
  width: 80%;
  font-size: 20px;
  margin-bottom: 100px;

  @include devices(mobile) {
    margin-bottom: 40px;
    width: 100%;
  }
}

.about-us__btn {
  font-size: 16px;
  color: #0E0E0E;
}

.about-us__btn:nth-of-type(1) {
  margin-right: 20px;
}

.content__semi-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;

  @include devices(mobile) {
    display: block;
    padding: 0 30px;

    & > div:first-child {
      margin-bottom: 48px;
    }
  }
}

.exchange-label {
  position: absolute;
  right: 27px;
  top: 15px;
  color: $dark-blue;
  font-weight: 500;
  text-transform: uppercase;
}

.trade {
  position: relative;
  background: $beige;
  height: 286px;
  border-radius: 24px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: auto;
  }
}

.trade__link {
  margin-top: 13px;
}

.firepot {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 24px;
  border: 2px solid $black;
  background: #fff;
  padding: 40px 26px;

  h3 {
    margin-bottom: 16px;
  }
}

.firepot__logo {
  max-width: 80%;
  margin: 0 0 30px auto;
  display: block;
}

.firepot__link {
  margin-top: auto;

  @include devices(mobile) {
    margin-top: 20px;
  }
}

.earn {
  padding: 40px 24px;
  border-radius: 24px;
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);
  width: 80%;

  @include media(1140px) {
    width: auto;
    box-sizing: border-box;
  }

  h3 {
    width: 50%;
    font-size: 40px;

    @include devices(mobile) {
      width: auto;
    }
  }
}

.earn__list {
  margin: 24px 0 50px;
  display: flex;
  flex-wrap: wrap;

  @include media(1140px) {
    margin: 24px 0;
  }

  @include devices(mobile) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.earn__list-item {
  height: fit-content;
  width: 40%;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;

  @include devices(mobile) {
    width: auto;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.earn__list-item:last-of-type {
  top: 14px;
}

.community {
  display: flex;
  align-items: center;

  @include devices(mobile) {
    margin-top: 25px;
  }
}

.community-mobile {
  display: none;

  @include devices(mobile) {
    display: block;
    text-align: center;
    padding: 0 20px;

    h3 {
      margin-bottom: 16px;
    }
  }
}

.community__img {
  @include devices(mobile) {
    width: 45%;
  }
}

.community__content {
  background: #fff;
  border-radius: 0 24px 24px 0;
  border: 2px solid $black;
  padding: 40px 24px;

  &--swap {
    position: relative;
    align-items: flex-start;
    padding: 75px 24px 50px;
    width: -webkit-fill-available;

    button:last-child {
      margin-top: 15px;

      @include devices(mobile) {
        margin-top: 0;
      }
    }
  }

  @include devices(mobile) {
    padding: 40px 24px 10px;

    &_low {
      padding: 20px 24px 10px;
      width: 45%;
    }
  }

  h3 {
    margin-bottom: 16px;
    font-size: 40px;

    @include devices(mobile) {
      display: none;
    }
  }

  p {
    margin-bottom: 25px;

    @include devices(mobile) {
      display: none;
    }
  }

  &--swap p {
    margin-bottom: 80px;

    @include media(1140px) {
      margin-bottom: 30px;
    }
  }
}

.community__link {
  margin-top: 13px;
  display: block;
  width: 40%;

  @include devices(mobile) {
    margin-bottom: 24px;
  }
}

.community__link-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include media(680px) {
    flex-direction: column;
  }
}

.ambrosus {
  position: relative;
}

.ambrosus__highlight {
  z-index: -1;
  position: absolute;
  transform: translate(-260px, -290px);

  @include devices(mobile) {
    transform: translate(-190px, -260px);
  }
}

.ambrosus-content {
  display: flex;
  border-radius: 24px;
  padding: 40px 36px;
  position: relative;
  background: linear-gradient(135deg, #1d1d1d 0%, #0e0e0e 100%);

  @include devices(mobile) {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    line-height: 28px;
    margin-bottom: 115px;
    font-size: 20px;

    @include devices(mobile) {
      margin-bottom: 30px;
    }
  }

  h3 {
    margin-bottom: 24px;
    font-size: 40px;
  }

  h3,
  p,
  button,
  a {
    color: white;
  }
}

.ambrosus-content__btn {
  border-color: white;
  margin-right: 20px;
}

.ambrosus-content__img {
  margin-right: 50px;

  @include devices(mobile) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.bridge,
.ambassador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  border-radius: 24px;
  text-align: center;
}

.bridge {
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);

  img {
    margin-top: 40px;

    @include devices(mobile) {
      margin-top: 0;
    }
  }

  h3 {
    margin: 43px 0 16px;
  }
}

.bridge__btn {
  margin-top: auto;

  @include devices(mobile) {
    margin-top: 30px;
  }
}

.ambassador {
  border: 2px solid #99b4d8;
  background: #fff;

  h3 {
    margin: 23px 0 16px;
  }
}

.ambassador__btn {
  margin-top: auto;

  @include devices(mobile) {
    margin-top: 30px;
  }
}

.contact {
  display: flex;
  align-items: center;

  @include devices(mobile) {
    position: relative;
  }
}

.contact-content {
  border-radius: 24px 0 0 24px;
  border: 2px solid $black;
  background: white;
  padding: 50px 33px 30px 54px;
  text-align: center;
  width: calc(100% - 320px);
  z-index: 1;

  @include media(1140px) {
    width: calc(100% - 200px);
  }

  @include devices(mobile) {
    width: 100%;
    padding: 40px 27px;
    border-radius: 24px;
  }

  h3 {
    margin-bottom: 13px;
  }
}

.contact-content__input {
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  padding: 8px 0;
  position: relative;

  &_error {
    border-color: #e07777;
  }

  &_third {
    margin-top: 10px;
    resize: vertical;
  }

  &::placeholder {
    color: #bdbdbd;
    font-family: Inter, sans-serif;
  }

  &_error::placeholder {
    color: #e07777;
  }

  &:hover {
    border-color: $dark-blue;

    &::placeholder {
      color: #0e0e0e;
    }
  }

  &:active {
    border-color: #0e0e0e;

    &::placeholder {
      color: #0e0e0e;
    }
  }
}

.contact-content__btn {
  margin-top: 45px;
  color: #0e0e0e;
}

.contact-content__topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  height: 20px;

  &-select {
    padding: 18px 0;
    position: absolute;
    width: 100%;

    right: 0;
    top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #000000;
    z-index: 1000;
    cursor: pointer;

    background: #ffffff;
    border: 1px solid #a2b2d8;
    box-shadow: 4px 8px 8px rgba(53, 104, 221, 0.23);
    border-radius: 16px;

    & > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
    & > ul > li {
      width: fit-content;
    }

    & > ul > li:hover {
      color: #3568dd;
    }
  }
}

select {
}

.contact__img {
  width: 320px;
  transform: translateX(-20px);
  z-index: 0;

  @include media(1140px) {
    transform: translateX(-50px);
  }

  @include devices(mobile) {
    position: absolute;
    width: calc(100% + 90px);
    transform: translateX(-45px);
    top: -50px;
    height: calc(100% + 100px);
    overflow: hidden;
  }

  img {
    width: calc(100% + 20px);

    @include media(1140px) {
      width: calc(100% + 50px);
    }
  }
}

.validator {
  display: flex;
  justify-content: flex-end;

  @include media(1140px) {
    flex-direction: column-reverse;
  }

  @include devices(mobile) {
    flex-direction: column-reverse;
  }
}

.validator-left {
  text-align: right;
  flex-direction: column;
  padding-right: 23px;
  display: flex;
  justify-content: center;

  @include media(1140px) {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 32px;
    width: 85%;

    div {
      margin-bottom: 0 !important;
    }
  }

  & > div:first-child {
    margin-bottom: 42px;
  }

  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    width: auto;

    & > div {
      text-align: center;

      &:first-child {
        margin-bottom: 36px !important;
        margin-left: 0;
      }
    }
  }
}

.validator-left__break {
  @include devices(mobile) {
    display: none;
  }
}

.validator-left__big {
  color: $dark-blue;
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 8px;
}

.validator-left__small {
  font-weight: 500;

  @include media(1140px) {
    text-align: center;
  }
}

.validator-right {
  box-sizing: border-box;
  max-width: 480px;
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);
  padding: 40px 60px 40px 34px;
  border-radius: 24px;

  h3 {
    margin-bottom: 16px;
    max-width: 380px;
    font-size: 40px;
    line-height: 44px;
  }

  p {
    margin-bottom: 60px;
  }

  @include devices(mobile) {
    padding-right: 24px;
  }
}

.validator-right__btn {
  margin-right: 40px;
}

.contact__success {
  padding: 90px 33px 80px 54px;

  h3 {
    margin-top: 35px;
  }

  button {
    margin-top: 25px;
  }
}

.binance {
  box-sizing: border-box;
  background: linear-gradient(135deg, #1d1d1d 0%, #0e0e0e 100%);
  border-radius: 24px;
  padding: 24px 10px 44px 24px;

  @include devices(mobile) {
    max-width: none;
  }

  h3 {
    line-height: 35px;
    padding-right: 30px;
  }

  img {
    margin-bottom: 34px;
    margin-top: 35px;
  }

  p,
  h3,
  button {
    color: white;
  }
}

.binance__cex {
  text-align: right;
  margin-right: 25px;
}

.binance__text {
  margin: 16px 0 36px;
  padding-right: 30px;
}

.binance__btn {
  border-color: white;
  font-size: 16px;

  a {
    color: white;
  }
}

.swap-title {
  font-size: 40px;
}

.community--swap {
  box-sizing: border-box;

  @include devices(mobile) {
    h3,
    p {
      display: block;
    }
    img {
      display: none;
    }

    .community__content {
      display: flex;
      margin: 0 20px !important;
      flex-direction: column;
      align-items: center;
      border-radius: 24px;
      width: 100%;
      text-align: center;

      p {
        margin-bottom: 15px;
      }
    }
  }
}

.firepot-logo {
  display: none;

  @include devices(mobile) {
    display: block !important;
    margin-bottom: 30px;
  }
}

.firepot-img {
  background-image: url('../assets/firepot.svg');
}

.swap-btn {
  @include media(1140px) {
    display: block;
  }
}

.binance-wrapper {
  margin-top: 60px;
}

.timeline {
  border-radius: 24px;
  padding: 24px;
  background: #fff;
  border: 2px solid #a2b2d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline__title {
  color: #a2b2d8;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.timeline__title-main {
  text-align: center;

  @include devices(mobile) {
    font-size: 40px;
  }
}

.timeline__text {
  margin: 20px 0 40px;
  text-align: center;
}

.firepot-dex {
  position: absolute;
  font-weight: 500;
  right: 42px;
  top: 20px;
  color: #3568dd;

  @include devices(mobile) {
    right: 20px;
  }
}

.binance__btn-second {
  padding: 0;
  margin-top: 15px;
}

.binance__btn-first {
  margin-right: 15px;
}

.timeline__img {
  margin: 50px 0 30px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
}

.partners-list__item {
  margin-right: 38px;
  margin-bottom: 30px;

  &:hover {
    opacity: 80%;
  }
}

.partners-title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 40px;
}

.partners-mobile-list-item {
  display: flex !important;
  flex-wrap: wrap;

  & > a {
    margin-right: 0;
    width: 33%;
    display: flex;
    justify-content: center;
  }
}

.slick-prev,
.slick-next {
  width: 33px;
  height: 33px;
  border-left: 2px solid #1d1d1d;
  border-top: 2px solid #1d1d1d;
  background: transparent;
  top: 90px;

  &:before,
  &:after {
    content: '';
  }
}

.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  transform: rotate(135deg);
}

.slick-list {
  width: 80%;
  margin: 0 auto;
}

.slick-dots li button:before {
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 50%;
  background: #a2b2d8;
}

.partners {
  margin-top: 100px;

  @include media(555px) {
    margin-top: 110px;
  }
}
