.content {
  padding-top: 34px;
  max-width: 792px;
  margin-left: auto;

  @include media(1140px) {
    max-width: 688px;
    padding-top: 115px;
  }

  @include devices(mobile) {
    padding-top: 0;
    height: auto;
    padding-left: 0;

    & > section {
      &:not(.about-network, .binance-wrapper) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }

    h3:not(.binance-title) {
      font-size: 32px !important;
    }
  }

  a {
    font-weight: 500;
    white-space: nowrap;
  }

  &_community {
    max-width: 882px;
  }
}

.content > section {
  margin-bottom: 80px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.about-us {
  max-width: 100%;
  border-radius: 24px;
  padding: 95px 24px 40px;
  background: radial-gradient(
    68.95% 152.29% at 38% 22.68%,
    #ffffff 25.29%,
    rgba(255, 255, 255, 0.47) 78.49%,
    rgba(255, 255, 255, 0) 100%
  );

  @include media(1140px) {
    max-width: 407px;
  }

  @include devices(mobile) {
    max-width: none;
    padding: 40px 30px;
  }
}

.about-us__logo-symbol {
  margin-bottom: 45px;

  @include devices(mobile) {
    display: none;
  }
}

.about-us__title-br {
  @include devices(mobile) {
    display: none;
  }
}

.about-us__br {
  @include media(1140px) {
    display: none;
  }
}

.about-us__subtitle {
  font-family: Mersad, sans-serif;
  font-weight: 600;
  line-height: 140%;
  font-size: 48px;
  margin: 24px 0;
  white-space: break-spaces;

  @include devices(mobile) {
    font-size: 40px;
    //margin-top: 110px;
  }
}

.about-us__text {
  width: 80%;
  font-size: 20px;
  margin-bottom: 100px;

  @include devices(mobile) {
    margin-bottom: 40px;
    width: 100%;
  }
}

.about-us__btn {
  font-size: 16px;
  color: #0e0e0e;
}

.about-us__btn:nth-of-type(1) {
  margin-right: 20px;

  @include media(490px) {
    margin-bottom: 20px;
  }
}

.content__semi-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;

  @include media(620px) {
    display: block;
    padding: 0 30px;

    & > div:first-child {
      margin-bottom: 80px;
    }
  }

  @include devices(mobile) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

.exchange-label {
  position: absolute;
  right: 27px;
  top: 15px;
  color: $dark-blue;
  font-weight: 500;
  text-transform: uppercase;
}

.trade {
  position: relative;
  background: $beige;
  height: 286px;
  border-radius: 24px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: auto;
  }
}

.trade__link {
  margin-top: 13px;
}

.earn {
  padding: 40px 24px;
  border-radius: 24px;
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);
  width: 80%;

  @include media(1140px) {
    width: auto;
    box-sizing: border-box;
  }

  @include devices(mobile) {
    margin-left: 16px !important;
    margin-right: 16px !important;
    padding: 40px 16px;
  }

  h3 {
    width: 50%;
    font-size: 40px;

    @include devices(mobile) {
      width: auto;
    }
  }
}

.earn__list {
  margin: 24px 0 50px;
  display: flex;
  flex-wrap: wrap;

  @include media(1140px) {
    margin: 24px 0;
  }

  @include devices(mobile) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.earn__list-item {
  height: fit-content;
  width: 40%;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 16px;

  @include devices(mobile) {
    width: auto;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.earn__list-item:last-of-type {
  top: 14px;
}

.mobile-app {
  border-radius: 24px;
  background: var(--primary-main, #3568DD);
  padding: 40px 32px 0;
  display: flex;
  gap: 42px;

  @include media(724px) {
    gap: 42px;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}

.mobile-app__img {
  @include media(1140px) {
    max-width: 250px;
  }

  @include media(724px) {
    max-width: 309px;
  }

  @include devices(mobile) {
    max-width: 80%;
  }
}

.mobile-app__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.mobile-app__title {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%; /* 35.2px */
}

.mobile-app__text {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
}

.mobile-app__btn-wrapper {
  display: flex;
  gap: 24px;

  a {
    @include devices(mobile) {
      flex-grow: 1;

      img {
        width: 100%;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

  }
}

.firepot {
  display: flex;
  align-items: center;

  @include media(605px) {
    margin-top: 25px;
  }
}

.firepot__btn {
  margin-right: 40px;

  @include media(720px) {
    margin-right: 0;
  }
}

.firepot__img {
  @include media(605px) {
    width: 45%;
  }
}

.firepot__content {
  background: #fff;
  border-radius: 0 24px 24px 0;
  border: 2px solid $black;
  padding: 40px 24px;

  &--swap {
    position: relative;
    align-items: flex-start;
    padding: 75px 24px 50px;
    width: -webkit-fill-available;

    button:last-child {
      margin-top: 16px;

      @include media(605px) {
        margin-top: 0;
      }
    }
  }

  @include media(605px) {
    padding: 40px 24px;

    &_low {
      padding: 20px 24px 10px;
      width: 45%;
    }
  }

  h3 {
    margin-bottom: 16px;
    font-size: 40px;

    @include media(605px) {
      display: none;
    }
  }

  p {
    margin-bottom: 25px;

    @include media(605px) {
      display: none;
    }
  }

  &--swap p {
    margin-bottom: 80px;

    @include media(1140px) {
      margin-bottom: 30px;
    }
  }
}

.firepot__link {
  margin-top: 13px;
  display: block;
  width: 40%;

  @include media(605px) {
    margin-bottom: 24px;
  }
}

.firepot__link-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include media(680px) {
    flex-direction: column;
  }
}

.about-network {
  position: relative;
  width: 80%;

  @include devices(mobile) {
    width: 100%;
  }
}

.about-network__highlight {
  z-index: -1;
  position: absolute;
  transform: translate(-260px, -290px);

  @include devices(mobile) {
    transform: translate(-240px, -85px);
  }
}

.about-network__content {
  display: flex;
  column-gap: 40px;
  align-items: center;
  border-radius: 24px;
  padding: 40px 32px;
  position: relative;
  background: #3568DD;

  @include media(605px) {
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    row-gap: 32px;
    text-align: center;
  }

  & > svg {
    width: 98px;
    height: 122px;
    flex-shrink: 0;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;

  }

  h3 {
    margin-bottom: 24px;
    font-family: 'Mersad', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
  }

  h3,
  p,
  button,
  a {
    color: white;
  }
}

.about-network__button {
  border-color: white;
  margin-right: 20px;

  &-url {
    &:active,
    &:focus {
      border-color: white;
      color: white;
    }
  }
}

.about-network__img {
  margin-right: 50px;

  @include media(605px) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.bridge,
.ambassador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  border-radius: 24px;
  text-align: center;
}

.bridge {
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);

  img {
    margin-top: 40px;

    @include devices(mobile) {
      margin-top: 0;
    }
  }

  h3 {
    margin: 43px 0 16px;
  }
}

.bridge__btn {
  margin-top: auto;

  @include devices(mobile) {
    margin-top: 30px;
  }

  @include media(620px) {
    margin-top: 16px;
  }
}

.ambassador {
  border: 2px solid #99b4d8;
  background: #fff;

  h3 {
    margin: 23px 0 16px;
  }
}

.ambassador__btn {
  margin-top: auto;

  @include devices(mobile) {
    margin-top: 30px;
  }
}

.contact {
  display: flex;
  align-items: center;

  @include devices(mobile) {
    position: relative;
  }
}

.contact-content {
  border-radius: 24px 0 0 24px;
  border: 2px solid $black;
  background: white;
  padding: 50px 33px 30px 54px;
  text-align: center;
  width: calc(100% - 320px);
  z-index: 1;

  @include media(1140px) {
    width: calc(100% - 200px);
  }

  @include devices(mobile) {
    width: 100%;
    padding: 40px 27px;
    border-radius: 24px;
  }

  h3 {
    margin-bottom: 13px;
  }
}

.contact-content__input {
  border: 0;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  padding: 8px 0;
  position: relative;

  &_error {
    border-color: $red;
  }

  &_third {
    margin-top: 10px;
    resize: vertical;
  }

  &::placeholder {
    color: rgba(14, 14, 14, 0.5);
    font-family: Inter, sans-serif;
  }

  &_error::placeholder {
    color: $red;
  }

  &:hover {
    border-color: $dark-blue;

    &::placeholder {
      color: #0e0e0e;
    }
  }

  &:active {
    border-color: #0e0e0e;

    &::placeholder {
      color: #0e0e0e;
    }
  }
}

.contact-content__btn {
  margin-top: 45px;
  color: #0e0e0e;
  padding: 10px 20px;
}

.contact-content__topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  height: 20px;

  &-select {
    padding: 18px 0;
    position: absolute;
    width: 100%;

    right: 0;
    top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #000000;
    z-index: 1000;

    background: #ffffff;
    border: 1px solid #a2b2d8;
    box-shadow: 4px 8px 8px rgba(53, 104, 221, 0.23);
    border-radius: 16px;

    & > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
    & > ul > li {
      width: fit-content;
      cursor: pointer;
    }

    & > ul > li:hover {
      color: #3568dd;
    }
  }
}

.contract-content__form-heading {
  color: rgba(14, 14, 14, 0.5);
  font-size: 13px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  &:hover {
    color: rgba(14, 14, 14);
  }
}

select {
}

.contact__img {
  width: 320px;
  transform: translateX(-20px);
  z-index: 0;

  @include media(1140px) {
    transform: translateX(-50px);
  }

  @include devices(mobile) {
    position: absolute;
    width: calc(100% + 90px);
    transform: translateX(-45px);
    top: -50px;
    height: calc(100% + 100px);
    overflow: hidden;
  }

  img {
    width: calc(100% + 20px);

    @include media(1140px) {
      width: calc(100% + 50px);
    }
  }
}

.validator {
  display: flex;
  justify-content: flex-end;

  @include media(1140px) {
    flex-direction: column-reverse;
  }

  @include devices(mobile) {
    flex-direction: column-reverse;
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}

.validator-left {
  text-align: right;
  flex-direction: column;
  padding-right: 23px;
  display: flex;
  justify-content: center;

  @include media(1140px) {
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 32px;
    width: 85%;

    div {
      margin-bottom: 0 !important;
    }
  }

  & > div:first-child {
    margin-bottom: 42px;
  }

  @include devices(mobile) {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    width: auto;

    & > div {
      text-align: center;

      &:first-child {
        margin-bottom: 36px !important;
        margin-left: 0;
      }
    }
  }
}

.validator-left__break {
  @include devices(mobile) {
    display: none;
  }
}

.validator-left__big {
  color: $dark-blue;
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 8px;
}

.validator-left__small {
  font-weight: 500;

  @include media(1140px) {
    text-align: center;
  }
}

.validator-right {
  box-sizing: border-box;
  max-width: 480px;
  background: linear-gradient(135deg, #e1ebff 0%, #cbd5e9 100%);
  padding: 40px 60px 40px 34px;
  border-radius: 24px;

  h3 {
    margin-bottom: 16px;
    max-width: 380px;
    font-size: 40px;
    line-height: 44px;
  }

  p {
    margin-bottom: 60px;
  }

  @include devices(mobile) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.validator-right__btn {
  margin-right: 40px;
}

.contact__success {
  padding: 90px 33px 80px 54px;

  h3 {
    margin-top: 35px;
  }

  button {
    margin-top: 25px;
  }
}

.binance {
  box-sizing: border-box;
  background: linear-gradient(135deg, #1d1d1d 0%, #0e0e0e 100%);
  border-radius: 24px;
  padding: 24px 10px 44px 24px;

  @include devices(mobile) {
    max-width: none;
  }

  h3 {
    line-height: 35px;
    padding-right: 30px;
  }

  img {
    margin-bottom: 34px;
    margin-top: 35px;
  }

  p,
  h3,
  button {
    color: white;
  }
}

.binance__cex {
  text-align: right;
  margin-right: 25px;
}

.binance__text {
  margin: 16px 0 36px;
  padding-right: 30px;
}

.binance__btn {
  border-color: white;
  font-size: 16px;

  a {
    color: white;
  }
}

.firepot__title {
  font-size: 40px;
}

.firepot--swap {
  box-sizing: border-box;

  @include media(605px) {
    h3,
    p {
      display: block;
    }
    img {
      display: none;
    }

    .firepot__content {
      display: flex;
      margin: 0 20px !important;
      flex-direction: column;
      align-items: center;
      border-radius: 24px;
      width: 100%;
      text-align: center;

      p {
        margin-bottom: 16px;
      }
    }
  }

  @include devices(mobile) {
    .firepot__content {
      margin: 0 !important;
    }
  }
}

.firepot-logo {
  display: none;

  @include media(605px) {
    display: block !important;
    margin-bottom: 30px;
  }
}

.firepot-img {
  background-image: url('../assets/firepot.svg');
}

.swap-btn {
  margin-right: 16px;

  @include media(720px) {
    display: none;
  }
}

.binance-wrapper {
  margin-top: 60px;
}

.timeline {
  border-radius: 24px;
  padding: 24px;
  background: #fff;
  border: 2px solid #a2b2d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline__title {
  color: #a2b2d8;
  font-size: 48px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.timeline__title-main {
  text-align: center;

  @include devices(mobile) {
    font-size: 40px;
  }
}

.timeline__text {
  margin: 20px 0 40px;
  text-align: center;
}

.firepot__dex {
  position: absolute;
  font-weight: 500;
  right: 42px;
  top: 20px;
  color: #3568dd;

  @include devices(mobile) {
    right: 20px;
  }
}

.binance__btn-second {
  padding: 0;
  margin-top: 16px;
}

.binance__btn-first {
  margin-right: 16px;
}

.timeline__img {
  margin: 50px 0 30px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
}

.partners-list__item {
  margin-right: 38px;
  margin-bottom: 30px;

  @include media(410px) {
    width: 70px;
    height: 70px;
  }

  &:hover {
    opacity: 80%;
  }
}

.partners-title {
  text-align: center;
  margin-bottom: 48px;
  font-size: 40px;
}

.partners-mobile-list-item {
  display: flex !important;
  flex-wrap: wrap;

  & > a {
    margin-right: 0;
    width: 33%;
    display: flex;
    justify-content: center;
  }
}

.slick-prev,
.slick-next {
  width: 33px;
  height: 33px;
  border-left: 2px solid #1d1d1d;
  border-top: 2px solid #1d1d1d;
  background: transparent;
  top: 90px;

  &:before,
  &:after {
    content: '';
  }
}

.slick-prev {
  left: 0;
  transform: rotate(-45deg);
}

.slick-next {
  right: 0;
  transform: rotate(135deg);
}

.slick-list {
  width: 80%;
  margin: 0 auto;
}

.slick-dots li button:before {
  width: 12px;
  height: 12px;
  content: '';
  border-radius: 50%;
  background: #a2b2d8;
}

.partners {
  margin-top: 100px;

  @include media(555px) {
    margin-top: 110px;
  }
}

.cex {
  background: linear-gradient(135deg, #1D1D1D 0%, #0E0E0E 100%);
  border-radius: 24px;
  padding: 56px 46px;
}

.cex__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 550px;

  @include media(570px) {
    justify-content: flex-start;
    padding-left: 16px;
  }

  a {
    color: white;

    @include media(570px) {
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}

.cex__title {
  color: white;
  margin-bottom: 36px;
}

.contact__btn-again {
  padding: 10px 16px;
}

.we-are-hiring {
  background: #EDF3FF;
  border-radius: 8px;
  padding: 18px 24px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1D1D1D;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  column-gap: 16px;

  @include devices(mobile) {
    margin: 120px 30px 0;

    flex-flow: column nowrap;
    row-gap: 16px;
    align-items: flex-start;
  }

}

.we-are-hiring__lead {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1D1D1D;
}

.we-are-hiring__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 6px 0 6px 6px;
  cursor: pointer;

  @include devices(mobile) {
    padding: 8px 8px 8px 0;
  }
}

.desktop-only {
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.main-page .white-overlay {
  @include devices(mobile) {
    height: 40vh;
  }
}

.community {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 32px;
  gap: 24px;

  background: #FFFFFF;
  border-radius: 24px;

  @include devices(mobile) {
    margin-left: 16px !important;
    margin-right: 16px !important;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.community__heading {
  font-family: 'Mersad', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  color: #1D1D1D;

}

.community__lead {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #1D1D1D;
}

.community__link-wrapper {
  margin-top: 16px;

  display: flex;
  flex-flow: row wrap;

  @include devices(mobile) {
    margin-top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 36px;
  }
}

.community__link {
  padding: 12px 16px;
  text-align: left;
}

.community__link:first-of-type {
  padding-left: 0;

  @include devices(mobile) {
    padding-left: 16px;
  }
}

.community__link:last-of-type {
  padding-right: 0;

  @include devices(mobile) {
    padding-right: 16px;
  }
}

