.footer {
  background: rgb(227, 231, 249);
  width: 100%;

  &_binance {
    background: rgb(238, 203, 95);
  }

  &_mexc {
    background: #DBFDED;
  }

  &_ambassadors {
    background: rgba(207, 217, 239, 0.2);
  }

  &_claim {
    display: none;
  }
}

.footer__link {
  display: block;
  font-size: 12px;
  margin-top: 8px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;

  @media only screen and (max-width: 1050px) {
    padding-left: 20px !important;
  }

  @include devices(mobile) {
    padding: 0 23px !important;
  }
}

.footer__mail {
  margin-top: 16px;
  display: block;
  color: $blue;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.footer__left {
  padding-bottom: 17px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include devices(mobile) {
    padding-bottom: 37px;
  }
}

.footer__socials {
  margin-bottom: 10px;

  @include devices(mobile) {
    margin-bottom: 0;
  }

  img {
    margin-left: 16px;
  }
}

.footer__grey {
  font-size: 12px;
  opacity: .3;

  &--margin {
    margin-top: 18px;
  }
}
