.team-page {
  padding-top: 106px;
  padding-left: 320px;
  white-space: break-spaces;
  max-width: 792px;
  margin-left: auto;
  position: relative;

  @include media(1140px) {
    max-width: 688px;
    padding-left: unset;

    &::before {
      display: none;
    }
  }

  @include devices(mobile) {
    padding-left: 16px;
    padding-right: 16px;
    white-space: initial;
  }

  &::before {
    content: '';
    position: absolute;
    width: 696px;
    height: 444px;
    left: 320px;
    top: -6px;
    z-index: 1;
    background: radial-gradient(68.95% 152.29% at 38% 22.68%, #FFFFFF 25.29%, rgba(255, 255, 255, 0.47) 78.49%, rgba(255, 255, 255, 0) 100%)
  }

  & br {
    @include devices(mobile) {
      display: none;
    }
  }


}

.team-page .background {
  right: -15%;

  @include media(1140px) {
    display: none;
  }
}

.team-page > * {
  z-index: 5;
  position: relative;
}

.team-page__heading {
  font-family: 'Mersad', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 95%;
  color: #0E0E0E;
  margin-bottom: 24px;

  @include devices(mobile) {
    font-size: 40px;
  }
}

.team-page__lead {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #1D1D1D;
  margin-bottom: 49px;
}

.team-page__members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 39px;
  margin-bottom: 107px;

  position: relative;

  @include media(1140px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include devices(mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

}

.team-page__member {
  width: auto;
  height: 280px;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(164, 187, 240, 0.15), rgba(164, 187, 240, 0.15)),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-bottom: 20px;
  white-space: break-spaces;

  &:hover {

    .team-page__social-link {
      background: white;
    }
  }
}

.team-page__member_hidden {
  @include devices(mobile) {
    // 3 height + 3 row-gap + variable offset
    height: calc((280px * 3) + (39px * 3) + 180px);
    overflow: hidden;
  }
}

.team-page__member_hidden .team-page__member:nth-of-type(n + 7) > * {
  @include devices(mobile) {
    display: none;
  }
}

.team-page__member-photo-container {
  background: black;
  width: 100%;
  height: 142px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 16px;
}

.team-page__member-photo {
  height: 100%;
  width: auto;
}

.team-page__member-name {
  font-family: 'Mersad', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #0E0E0E;

  @include devices(mobile) {
    font-size: 16px !important;
  }

}

.team-page__member-position {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #0E0E0E;
}

.team-page__members-button-overlay {
  display: none;
}

.team-page__member_hidden .team-page__members-button-overlay {
  @include devices(mobile) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0, white 50%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
  }
}

.team-page__show-members-button {
  padding: 12px 24px;
}

.team-page__linkedin-lead {
  font-family: 'Mersad', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #212121;
  margin-bottom: 116px;

  a {
    color: #457EFF;
  }
}

.team-page__socials-container {
  margin-top: auto;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  grid-column-gap: 8px;
}

.team-page__social-link {
  height: 24px;
  width: 24px;
  padding: 4px;
  background: transparent;
  border-radius: 8px;
  transition: .2s;


  &:not(&_twitter) svg path {
    fill: #A2B2D8;
  }

  &:not(&_twitter):hover svg path {
    fill: #828ac8;
  }

  &:not(&_twitter):active svg path {
    fill: #464B71;
  }

  &_twitter svg path {
    stroke: #A2B2D8;
  }

  &_twitter:hover svg path {
    stroke: #828ac8;
  }

  &_twitter:active svg path {
    stroke: #464B71;
  }
}

.team-page__social-icon {
  height: 100%;
  width: 100%;
}
