.ui-button {
  font-weight: 500;
  font-size: 16px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  a {
    white-space: nowrap;
  }

  a:focus,
  a:active {
    text-decoration: none;
  }

  &:hover {
    color: $dark-blue;

    a {
      color: $dark-blue;
    }
  }
}

.ui-button_border {
  border: 2px solid $black;
  border-radius: 24px;

  a {
    padding: 10px 20px;
    display: inline-block;

    &:focus {
      color: inherit;
    }
  }

  &:hover {
    border-color: $dark-blue;
    color: $dark-blue;
  }

  &:active,
  &:focus {
    border-color: $dark-blue;
    color: $dark-blue;
    background: rgba(53, 104, 221, 0.15);
  }

  @include devices(mobile) {
    margin-bottom: 10px;
  }
}

.ui-button_disabled {
  border-color: #edf3ff;
  color: #a2b2d8;
  pointer-events: none;
}
