RewriteEngine On
# Выбор основного зеркала без www
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://airdao.io/$1 [R=301,L]
# Убираем повторяющиеся слеши (/) в URL
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule . %1/%2 [R=301,L]
# Удаляем слеши для главной http://site.com/////
RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
RewriteRule (.*) / [R=301,L]
