<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.
    RewriteRule ^(.*)$ https://airdao.io/$1 [R=301,L]
    RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
    RewriteRule . %1/%2 [R=301,L]
    RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
    RewriteRule (.*) / [R=301,L]
</IfModule>
