.header {
  position: fixed;
  left: 100px;
  top: 70px;
  z-index: 999;

  @include devices(mobile) {
    position: relative;
    margin-top: 0;
    background: #fff;
    padding: 17px 24px;
    left: 0;
    top: 0;
  }

  &_expanded {
    position: fixed;
    width: calc(100% - 48px);
    height: 100vh;
  }
}

.header__logo {
  @include devices(mobile) {
    width: 208px;
  }
}

.header__menu {
  @include devices(mobile) {
    display: block;
    position: absolute;
    right: 55px;
    top: 25px;
  }
}

.header__nav {
  margin-top: 60px;

  @include devices(mobile) {
    text-align: center;
    max-height: 60vh;
    overflow: auto;
  }
}

.header__nav-link {
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  position: relative;

  @include devices(mobile) {
    margin-bottom: 45px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $blue;
    left: -16px;
    top: 1px;

    @include devices(mobile) {
      content: none;
    }
  }

  &_active:before {
    background: $blue;
  }
}

.header__footer {
  width: 100%;
  position: absolute;
  border-top: 2px solid $blue;
  left: 0;
  bottom: 30px;

  footer {
    background: #fff;
  }
}
