@import "src/variables";
@import "normalize";
@import "fonts";
@import "src/mixins";
@import "src/ui-button";
@import "src/header";
@import "src/menu";
@import "src/content";
@import "src/footer";

body {
  position: relative;
}

.page-wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.background {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  @include devices(mobile) {
    left: 30%;
  }
}

p, span, button, a {
  font-family: Inter, sans-serif;
  font-weight: 300;
  line-height: 140%;
  color: #1D1D1D;
}
textarea {
  font-family: sans-serif;
}

h3 {
  font-family: Mersad, sans-serif;
  font-weight: 700;
  font-size: 32px;

  @include devices(mobile) {
    font-size: 32px!important;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;

  @include devices(mobile) {
    padding: 0;
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;

  @include devices(mobile) {
    display: block;
  }
}

nav a{
  font-family: Mersad, sans-serif;
}

.error-message {
  font-size: 11px;
  text-align: left;
  margin-top: 3px;
  color: #E07777;
  position: absolute;
  width: 100%;

  &:after {
    content: url("./assets/error.svg");
    position: absolute;
    width: 22px;
    height: 22px;
    top: -30px;
    right: 0;
  }
}

a:hover, a:focus, a:active {
  color: $dark-blue;
}

a:focus, a:active {
  text-decoration: underline;
}

input, textarea {
  outline: none;

  &:focus {
    border-color: $dark-blue;
  }
}

.white-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  height: 80vh;
  background: linear-gradient(180deg, #FFFFFF 38.42%, rgba(255, 255, 255, 0.47) 84.05%, rgba(255, 255, 255, 0) 100%);;
}
